html {
	height: 100%;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #ddd;
	background-color: #000;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

input:focus {
    outline: none;
}

select {

}

h1 {
	color: white;
	font-size: 30px;
	font-weight: 400;
	margin: 0;
}

h2 {
	font-size: 25px;
	font-weight: 400;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin: 0px 0 15px 0;
	color: #fff;
}

p {
	margin: 0px 0 8px 0;
}

a {
	color: #eee;
}

a:visited {
	color: #eee;
}

a:hover, a:focus, a:visited:hover {
	color: #fff;
}

b {
	font-weight: 500;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(255,255,255,.5);
	width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.2);
    border-radius: 2px;
}

/* override bootstrap defaults: */

.navbar-default {
	background-color: #444444;
	border-color: #444444;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
	font-size: 20px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	padding-left: 30px;
	padding-right: 50px;
}
.navbar-default .navbar-brand .beta {
	font-size: 10px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.05em;
	top: 7px;
	margin-left: 2px;
	position: absolute;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
	background-color: #5d5c5c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5d5c5c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #5d5c5c;
}
.navbar-default .navbar-toggle {
  border-color: #5d5c5c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5d5c5c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

/* prevent logo hover background: */
.navbar-right > li > a:hover, .navbar-right > li > a:focus {
	/* background-color: transparent !important; */
}


@media (max-width: 850px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #5d5c5c;
  }
}


.immybox.immybox_witharrow {
}
.immybox_results {
	position:absolute;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height:20em;
	background-color:white;
	border:1px solid #ccc;
	z-index:9001;
}
.immybox_results p.immybox_moreinfo,.immybox_results p.immybox_noresults {
	color:#ccc;
	font-style:italic;
	padding:0 1em;
	margin:0;
}
.immybox_results ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.immybox_results ul li {
	padding:0.25em 1em;
	-o-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.immybox_results ul li.immybox_choice {
	cursor:pointer;
}
.immybox_results ul li.immybox_choice.active {
	background-color:#f1f1f1;
}
.immybox_results ul li.immybox_choice .highlight {
	text-decoration:underline;
}


.tipsy { padding: 5px; font-size: 10px;	letter-spacing: 0.05em; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #444; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url('/assets/img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }


#logo_ml {
	padding: 0;
	margin-right: 15px;
	position: relative;
	opacity: 0.85;
	width: 200px;
	height: 50px;
}

#logo_ml:hover {
	opacity: 1;
}

#logo_ml a {
	height: 50px;
	width: 100%;
}

#logo_ml .text {
	display: block;
	clear: left;
	position: absolute;
	top: 15px;
	right: 70px;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: white;
}

#logo_ml img {
	margin: 0;
	width: 50px;
	height: 50px;
	pointer-events: auto;
	position: absolute;
	top: -3px;
	right: 10px;
}

#background {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -10000;
	width: 100%;
	height: 100%;
	text-align: left;
	overflow: hidden;
	pointer-events: none;

	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#container {
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
}

#top-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 250px;
	overflow: hidden;
	pointer-events: none;
}

#top-overlay .background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 250px;
	opacity: 0.8;
	background: url('/assets/img/gradient-top-left.png') no-repeat;
	pointer-events: none;
}

#nationality {
	position: absolute;
	top: 130px;
	left: 30px;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	color: white;
}

.country_dropdown_container {
	margin: 8px;
	pointer-events: none;
	opacity: 0.5;
}

.country_dropdown {
	width: 190px;
	border: 1px solid #aaa;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 22px;
	color: #bbb;
	background-color: transparent;
	padding: 0.25em 2.1em 0.4em 2.1em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	pointer-events: auto;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-webkit-appearance: none;
}

.country_dropdown:focus {
	border: 1px solid #ddd;
    outline: none;
    color: #fff;
}

.country_dropdown_container .filled {
	color: #fff;
}

.country_dropdown_container .glyphicon-search {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 14px;
	pointer-events: none;
}

.country_dropdown_container .cancel {
	background: url('/assets/img/close.svg') #444444;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 2px;
	top: 1px;
	cursor: pointer;
	pointer-events: auto;
	display: none;
}

.country_dropdown_container .caret {
	margin-top: -1px;
	margin-left: -20px;
	pointer-events: none;
	display: none;
}

#destination_country_dropdown_container {
	margin-left: 0;
}

.immybox_results {
	background-color: #222222;
	color: #dddddd;
	border: none;
	max-height: 420px;
}
.immybox_results ul li {
	padding: 0.75em 0.75em;
}
.immybox_results ul li.immybox_choice.active {
	background-color: #444444;
	color: white;
}

#arrow_right {
	float: left;
	top: 18px;
	margin: 0 7px 0 0;
}

#map_mode {
	margin: 8px 0 0 5px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

#map_mode .dropdown-toggle {
	border: 1px solid #aaa;
	padding: 0.5em 0.5em 0.5em 0.7em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	pointer-events: auto;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

#map_mode .dropdown-toggle:focus, #map_mode .dropdown-toggle:hover {
	background-color: #444444;
}

#map_mode .dropdown-toggle .dropdown-label {
	display: inline-block;
	width: 125px;
}

#map_mode .caret {
	margin: -1px 5px 0 3px;
}

#travelscope {
	position: fixed;
	top: 70px;
	left: 30px;
	margin: 0;
	font-size: 24px; /* 15px */
	font-weight: 400;
	line-height: 34px; /* 22px */
	color: white;
	pointer-events: none;
	width: 100%;
	max-width: 650px;
	-webkit-font-smoothing: antialiased;
	display: none;
}

#travelscope .notes {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0 0 0;
}

#travelscope .glyphicon-arrow-right {
	display: block;
	float: left;
	padding-right: 9px;
	font-size: 0.75em;
	padding-top: 7px;
}

#travelscope b {
	white-space: nowrap;
	font-weight: 600;
}

#button_country_list {
	position: fixed;
	top: 75px;
	right: 30px;
	z-index: 100;
	width: 212px;
	text-align: left;
	display: none;
}

#button_country_list .caret {
	position: absolute;
	right: 10px;
	top: 12px;
}

#country_list {
	position: absolute;
	top: 115px;
	right: 30px;
	width: 200px;
	height: calc(100% - 210px);
	pointer-events: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

#country_list li {
	list-style-type: none;
	margin: 0;
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	left: 0;
	color: #ccc;
	cursor: pointer;
	pointer-events: auto;
}

#country_list li:hover, #country_list li.selected {
	color: #fff;
}

#country_list li .container {
	position: relative;
}

#country_list li .box {
	display: block;
	width: 10px;
	height: 10px;
	margin: 3px 5px 0 0;
	background: transparent;
	position: absolute;
	left: 0px;
}

#country_list li .number {
	display: block;
	margin: 0 5px 0 0;
	position: absolute;
	left: 15px;
	text-align: right;
	width: 25px;
}

#country_list li .text {
	display: block;
	padding-right: 5px;
	margin-left: 35px;
}

#country_list.numberhidden .text {
	margin-left: 5px;
}

#country_list.numberhidden .number {
	display: none;
}

#country_list.narrownumbers .text {
	margin-left: 5px;
	width: 140px;
}

#country_list.narrownumbers .number {
	display: block;
	width: 30px;
	left: 160px;
}

#country_list.widenumbers .text {
	margin-left: 5px;
	width: 90px;
}

#country_list.widenumbers .number {
	display: block;
	width: 80px;
	left: 110px;
}

.superscript {
	vertical-align: super;
	font-size: 0.7em;
	padding: 0 2px;
}

.last_update {
	position: fixed;
	bottom: 30px;
	left: 30px;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: #999;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: none;
}

.legend {
	position: fixed;
	bottom: 55px;
	left: 30px;
	font-size: 10px;
	letter-spacing: 0.05em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	display: none;
}

.legend .range {
	width: 220px;
	margin-top: 25px;
	margin-bottom: 30px;
	clear: left;
}

.legend .range .box {
	width: 100%;
	height: 10px;
	margin-bottom: 3px;
}

.legend .range .min {
	float: left;
	width: 33%;
}

.legend .range .rangelabel {
	float: left;
	text-align: center;
	width: 34%;
}

.legend .range .max {
	float: right;
	text-align: right;
	width: 33%;
}

.legend .colors .box {
	width: 10px;
	height: 10px;
	margin: 2px 5px 8px 0;
	float: left;
	clear: left;
}

.legend .colors .text {
	float: left;
}

.legend .info_visa_free {
	clear: left;
	margin-bottom: 15px;
}

#loading {
	position: fixed;
	font-size: 18px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: white;
	background-color: #333;
	width: auto;
	padding: 0.7em 0.7em 0.7em 0.7em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	opacity: 0.85;
	-webkit-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
}

#loading .details {
	font-size: 12px;
	line-height: 18px;
	margin: 15px 0 5px 0;
	width: 100%;
}

#keyboardhint {
	position: fixed;
	top: 100px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: white;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#country-tooltip {
	position: absolute;
	font-size: 15px;
	color: white;
	background-color: #333;
	width: auto;
	pointer-events: none;
	padding: 0.5em 0.7em 0.7em 0.7em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	opacity: 0.9;
	display: none;
	z-index: 500;
	-webkit-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
}

#country-tooltip .title {
}

#country-tooltip .details {
	font-size: 12px;
	line-height: 18px;
	max-width: 300px;
	margin-top: 5px;
	display: none;
}

#country-tooltip .notes {
	font-size: 10px;
	letter-spacing: 0.05em;
	margin-top: 5px;
}

.panel {
	position: absolute;
	font-size: 15px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #ddd;
	background-color: #333;
	width: 750px;
	height: calc(100% - 290px);
	left: 500px;
	top: 100px;
	padding-bottom: 80px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	opacity: 0.9;
	z-index: 100;
	display: none;
	-webkit-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 40px 5px rgba(0,0,0,0.4);
}

.panel .inside {
	height: 100%;
	margin: 12px 18px 22px 18px;
	padding-right: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.panel .inside .section {
	margin: 0 0 30px 0;
}

.panel .title {
	margin: 18px 18px 10px 18px;
	color: #fff;
}

.panel .panel-close {
	background: url('/assets/img/close.svg');
	width: 50px;
	height: 50px;
	color: white;
	float: right;
	position: absolute;
	top: 3px;
	right: 0px;
	opacity: 0.85;
	cursor: pointer;
	padding: 15px;
}

.panel .panel-close:hover {
	opacity: 1;
}

.panel .details {
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
}

.panel a {
	text-decoration: underline;
	font-weight: 400;
}

.slider {
	clear: left;
	margin: -5px 0 15px 0;
	width: 220px;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider-horizontal {
	height: 12px;
	background-color: #555;
	border: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.ui-slider .ui-slider-handle {
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	top: 0px; /* -4px */
	margin-left: -5px; /* -4px */
	background-color: #ddd;
	border: none;
}

.ui-slider .ui-slider-handle:focus {
	border: none;
    outline: none;
}

#slider_zoom {
	position: absolute;
	bottom: 15px;
	left: 400px;
	width: 150px;
	display: none;
}

#view_switch {
	position: fixed;
	bottom: 35px;
	right: 30px;
	display: none;
}

.btn:focus {
    outline: none;
}

.icon-worldmap-flat {
	display: block;
	width: 25px;
	height: 16px;
	background-image: url(/assets/img/icon-worldmap_flat_25px.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 0px;
	margin-right: -1px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.glyphicon-globe {
	padding: 0px 5px;
}

#logterminal {
	top: 250px !important;
	left: 20px !important;
	width: 75% !important;
	height: calc(100% - 300px) !important;
}

#ce_badge {
	display: none;
	position: fixed;
	top: 65px;
	right: 260px;
	z-index: 10;
}



@media all and (-webkit-min-device-pixel-ratio : 1.5) {
	.icon-worldmap-flat {
		background-image: url(/assets/img/icon-worldmap_flat_50px.png);
	}
}


@media only screen and (max-width: 1200px) {

	h1 {
		top: -10px;
		left: 15px;
	}

	h2 {
		top: 30px;
		left: 15px;
	}

	.navbar-default .navbar-brand {
		font-size: 18px;
		font-weight: 400;

		padding-left: 15px;
		padding-right: 30px;
	}

	.navbar-default .navbar-brand .beta {
		font-size: 9px;
		font-weight: 400;
	}

	#logo_ml {
		margin-right: 1px;
	}

	#nationality {
		top: 90px;
		left: 15px;
	}

	.country_dropdown {
		width: 180px;
		padding: 0.25em 0.5em 0.4em 2.1em;
	}

	#travelscope {
		left: 15px;
		top: 60px;
		width: calc(100% - 450px);
		font-size: 20px; /* 15px */
		line-height: 27px; /* 22px */
		font-weight: 300;
	}

	#map_mode {
		margin: 8px 0 0 0;
	}

	#button_country_list {
		right: 15px;
		top: 65px;
	}

	#country_list {
		right: 15px;
		top: 105px;
		height: calc(100% - 170px);
	}

	#view_switch {
		right: 15px;
		bottom: 15px;
	}

	.last_update {
		left: 15px;
		bottom: 12px;
	}

	.panel .details {
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
	}

	.legend {
		left: 15px;
		bottom: 30px;
	}

	.legend .colors .box {
		margin: 2px 5px 5px 0;
	}

	#logterminal {
		top: 200px !important;
		left: 0px !important;
	}

	#ce_badge {
		top: 55px;
		right: 245px;
	}

}


@media only screen and (max-width: 1100px) {

	#logo_ml {
		width: 70px;
	}

	#logo_ml .text {
		display: none;
	}

}


@media only screen and (max-width: 1023px) {

	.country_dropdown {
		width: 120px;
	}

}



@media only screen and (max-width: 861px) {

	#travelscope {
		width: calc(100% - 250px);
	}

	#slider_zoom {
		display: none;
	}

}

@media only screen and (max-width: 850px) {

	.country_dropdown_container {
		margin-left: 15px;
		width: 290px;
	}

	.country_dropdown {
		width: 290px;
	}

	.country_dropdown_container .cancel {
		right: 3px;
	}

	#destination_country_dropdown_container {
		margin-left: 15px;
	}

	#arrow_right {
		display: none;
	}

	#logo_ml {
		width: 100%;
		text-align: left;
	}

	#logo_ml a {
		height: 40px;
	}

	#logo_ml .text {
		font-size: 12px;
		right: auto;
		top: 11px;
		display: block;
		color: #fff;
	}

	#logo_ml img {
		left: 160px;
		top: -8px;
		right: auto;
	}

	#map_mode {
		width: 291px;
		margin: 8px 0 0 15px;
		font-size: 12px;
	}

	#map_mode .dropdown-toggle .dropdown-label {
		width: 210px;
	}

	.navbar-default .navbar-nav > li > a {
		font-size: 12px;
	}

	.panel {
		width: 100%;
		height: calc(100% - 50px);
		margin-top: 10px;
	}

}


@media only screen and (max-width: 480px) {

	h1 {
		top: -5px;
		left: 15px;
		font-size: 20px;
	}

	h2 {
		top: 25px;
		left: 15px;
	}

	#nationality {
		top: 80px;
		left: 15px;
	}

	.country_dropdown {
		top: 110px;
		left: 15px;
	}

	#travelscope {
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		top: 60px;
		left: 15px;
		width: calc(100% - 40px);
	}

	#button_country_list {
		top: 160px;
		right: 15px;
		display: none;
	}

	#country_list {
		right: 15px;
		height: calc(100% - 420px);
	}

	#view_switch {
		right: 15px;
		bottom: 35px;
	}

	.legend {
		left: 15px;
	}

	.legend .range {
		width: 150px;
	}

	.panel .inside {
		margin: 12px 14px 22px 18px;
		padding-right: 10px;
	}

	.panel .details {
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
	}

	p {
		margin: 0px 0 12px 0;
	}

}
